<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="redtoss.example.furstychristmas">


<application
    android:name=".FurstyApplication"
    android:icon="@drawable/custom_logo"
android:label="@string/app_name"
android:theme="@style/AppThemeCompose">
<activity
    android:name=".MainActivityCompose"
    android:exported="true">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
</activity>

        <activity
            android:name=".eula.EulaActivity"
            android:label="eula" />

        <receiver android:name=".receiver.DailyNotificationReceiver" />
    </application>

</manifest>